@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-50 text-slate-600 dark:bg-[#0a0a0a] dark:text-slate-300 transition-colors duration-300;
    }
}

@custom-variant dark (&:where([class=dark], [class=dark] *));